<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoLCurrentMatchDetails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProcessStartEventTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LoLCurrentMatchDetails.Properties.Settings>
            <setting name="API_Key" serializeAs="String">
                <value>4091633c-fe9a-4549-85ed-8fab5089b6a8</value>
            </setting>
            <setting name="SummonerID" serializeAs="String">
                <value>20377190</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </LoLCurrentMatchDetails.Properties.Settings>
        <ProcessStartEventTest.Properties.Settings>
            <setting name="API_Key" serializeAs="String">
                <value>l</value>
            </setting>
            <setting name="SummonerID" serializeAs="String">
                <value>20377190</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </ProcessStartEventTest.Properties.Settings>
    </userSettings>
</configuration>